# dependencies
/client/.next/
/client/node_modules
/server/node_modules
/server/.env

# local log files
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel
/client//build

# typescript
/client/next-env.d.ts